<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Appenders 输出目的地 -->
    <Appenders>
        <!-- 配置日志输出文件名字     追加读写     host地址  端口    -->
        <Socket name="A2" host="127.0.0.1" port="5001">
            <SerializedLayout/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Socket>
        <Console name="STDOUT2" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- debug级别 -->
        <Root level="debug">
            <AppenderRef ref="A2"/>
            <AppenderRef ref="STDOUT2"/>
        </Root>
    </Loggers>
</Configuration>

<!--
Logger=miner.spider.utils.MysqlUtil Level=DEBUG Message=debug
Logger=miner.spider.utils.MysqlUtil Level=INFO Message=info
Logger=miner.spider.utils.MysqlUtil Level=WARN Message=warn
Logger=miner.spider.utils.MysqlUtil Level=ERROR Message=error...
-->